@charset "ISO-8859-1";


/*Este archivo css trabaja con AdministradorAlumnos y AdministradorDocentes*/

header{
	background-color: #3C3F42;
	display: flex;
	justify-content: space-around;
	align-items: center;
	color: white;
}

a{
	color: white;
}

.conteiner__h2{
	display: flex;
	justify-content: center;
	margin-top: 10px;
    justify-content:space-around;
}


table{
	display: flex;
	justify-content:center;
}

td, th{
border: 1px solid #000;
text-align: center;
padding: 5px;
}

