@charset "ISO-8859-1";

@import
	url('https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&display=swap')
	;

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Poppins', 'Arial';
}